<div class="blueline"></div>
<div class="header">
  <img class="header__logo" src="../../../assets/digital-reef-logo.png" alt="DigitalReefLogo"
    data-cy="digital-reef-logo" />
  <p class="header__title" data-cy="header-title">DIGITAL<span class="title__thin">REEF</span></p>
  <p class="header__text" data-cy="header-text">
    <span class="text__welcome">Welcome</span>
    <span class="text__content">
      For assistance at any time, for any reason, please contact our technical
      services team at
      <a href="" class="text__link">support@digitalreefinc.com</a>
    </span>
  </p>
</div>