<div class="blueline"></div>
<div class="header">
  <img
    class="header__logo"
    src="../../../assets/digital-reef-logo.png"
    alt="DigitalReefLogo"
  />
  <p class="header__title">DIGITAL<span class="title__thin">REEF</span></p>
  <p class="header__text">
    <span class="text__welcome">Welcome</span>
    <span class="text__content">
      For assistance at any time, for any reason, please contact our technical
      services team at
      <a href="" class="text__link">support@digitalreefinc.com</a>
    </span>
  </p>
</div>
