<div class="email-notifications">
  <p class="title">Email Notifications</p>

  <div class="section__header">
    <p class="header__text">Send Email Notifications to:</p>
    <button class="discard-changes-btn">Send Test Email to All</button>
  </div>

  <div
    *ngFor="let emailAddress of emailAddresses; let index = index"
    class="section__list"
  >
    <div class="list__item">
      <input
        [(ngModel)]="emailAddress.inputEmail"
        [ngClass]="emailAddress.isAlert ? 'red' : ''"
        class="field__input email"
        type="email"
        autocomplete="off"
        required
        name="email"
        ngModel
        #email="ngModel"
        (change)="verifEmail(index); addNewEmailAddress(index)"
      />

      <!-- * alert -->
      <div *ngIf="emailAddress.isAlert" class="alert-danger--custom">
        <div class="custom__triangle"></div>
        <fa-icon [icon]="faCircleExclamation" class="custom__icon"> </fa-icon>
        <span class="custom__text"> &nbsp; Invalid format &nbsp; </span>
        <fa-icon
          (click)="exitAlert(index)"
          [icon]="faXmark"
          class="custom__xmark"
        ></fa-icon>
      </div>

      <button class="discard-changes-btn send-test-email-btn">
        Send Test Email
      </button>
      <fa-icon
        (click)="deleteEmailAddress(index)"
        [icon]="faTrashCan"
        class="item__faTrashCan"
      ></fa-icon>

      <!-- * alert -->
      <div
        *ngIf="emailAddress.imposibleToDeleteAlert"
        class="alert-danger--custom can-not-delete"
      >
        <div class="custom__triangle"></div>
        <fa-icon [icon]="faCircleExclamation" class="custom__icon"> </fa-icon>
        <span class="custom__text"> &nbsp; Can't delete! &nbsp; </span>
        <fa-icon
          (click)="exitDeleteAlert(index)"
          [icon]="faXmark"
          class="custom__xmark"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
