@import "../../../../../colors.scss";

.title {
  background-color: $escTitleBg;
  padding: 5px 10px;
  margin: 0;
  color: $escTitleText;
  font-weight: 600;
  font-size: 14px;
  border-top: 1px solid gray;
}

.section__header {
  display: flex;
  gap: 200px;
  padding: 10px;

  .header__text {
    margin: 0;
    display: grid;
    place-content: center;
  }
}

.section__list {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 10px;

  .list__item {
    display: flex;
    gap: 10px;

    .field__input {
      right: 0;
      padding: 3px 6px;
      border: 1px solid gray;

      &.email {
        width: 384px;
      }

      &.red {
        background-color: $bgCustomAlert;
      }
    }
    .field__input:focus {
      outline: 1.35px solid $outlineInput;
    }

    .item__faTrashCan {
      display: grid;
      place-content: center;
      cursor: pointer;
    }
  }
}

// ! Class 'discard-changes-btn' Used in Multiple Places / Same Design.

.discard-changes-btn {
  padding: 3px 30px;
  border: 1px solid gray;
  border-radius: 5.25px;
  background-color: #fff;
  color: $customXMarkColor;

  &.send-test-email-btn {
    margin-right: 10px;
  }
}
.discard-changes-btn:hover {
  background-color: $bgHeader;
}

// ! Custom Alert

.alert-danger--custom {
  position: absolute;
  height: 31px;
  display: flex;
  align-items: center;
  border: 1px solid red;
  background-color: $bgCustomAlert;
  color: $textColorCustomAlert;
  padding: 10px;
  margin-left: 10px;
  margin-top: 30px;
  box-shadow: 3px 3px 15px $boxShadowColor;

  &.can-not-delete {
    right: 0;
    margin-right: 107px;
    margin-top: 40px;
  }

  .custom__triangle::before {
    content: "";
    position: absolute;
    left: 0.5px;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $bgCustomAlert;
  }

  .custom__triangle {
    position: absolute;
    left: 30px;
    top: -16px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid red;
    transform: rotate(90deg);
  }

  .custom__icon {
    font-size: 14px;
  }

  .custom__text {
    font-size: 12px;
    font-weight: 500;
  }

  .custom__xmark {
    font-size: 14px;
    color: $customXMarkColor;
    cursor: pointer;
  }
}
