<div *ngIf="isOpen">
  {{ openModalMOMENTAN(template) }}
</div>

<ng-template #template>
  <!-- ! Modal Header -->

  <div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <fa-icon [icon]="faQuestion" class="header__question"></fa-icon>
    <fa-icon
      (click)="modalRef?.hide()"
      [icon]="faXmark"
      class="header__xmark"
    ></fa-icon>
  </div>

  <!-- * alert -->

  <div
    *ngIf="
      username.length === 0 ||
      !isCharacters ||
      !isUppercase ||
      !isLowercase ||
      !isNumber ||
      !isSymbol
    "
    class="alert-danger--custom"
  >
    <div class="custom__triangle"></div>
    <fa-icon [icon]="faCircleExclamation" style="font-size: 14px"></fa-icon>
    <span class="custom__text"
      >&ensp;Invalid "Username" and/or "Password"&ensp;</span
    >
  </div>

  <!-- ! Modal Body -->

  <div class="modal-body">
    <!-- ! The Form -->
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form__field">
        <label class="field__label">
          Username:&nbsp;<span style="color: rgb(171, 0, 0)">*</span>
        </label>
        <div style="width: 81px"></div>
        <input
          [(ngModel)]="username"
          class="field__input"
          type="username"
          name="username"
          placeholder=""
        />
        <fa-icon
          *ngIf="username.length > 0"
          [icon]="faCheck"
          class="field__facheck"
        ></fa-icon>
      </div>

      <div class="form__field">
        <label class="field__label">
          Current&nbsp;Password:&nbsp;<span style="color: rgb(171, 0, 0)"
            >*</span
          >
        </label>
        <input
          (focus)="onFocus()"
          (keyup)="onKeyup()"
          [(ngModel)]="currentPsw"
          class="field__input"
          [type]="typeCurrentPsw ? 'normal' : 'password'"
          name="current-psw"
          placeholder=""
        />
        <fa-icon
          class="field__icon"
          [icon]="showCurrentPsw ? faEyeSlash : faEye"
          (click)="toogleCurrentPsw()"
        ></fa-icon>
        <fa-icon
          *ngIf="
            isCharacters && isUppercase && isLowercase && isNumber && isSymbol
          "
          class="field__facheck"
          [icon]="faCheck"
        ></fa-icon>
      </div>

      <div class="form__field">
        <label class="field__label">
          New&nbsp;Password:&nbsp;<span style="color: rgb(171, 0, 0)">*</span>
        </label>
        <div style="width: 29.5px"></div>
        <input
          (focus)="onFocus()"
          (keyup)="enableSaveBtn()"
          [(ngModel)]="newPsw"
          class="field__input"
          [type]="typeNewPsw ? 'normal' : 'password'"
          name="new-psw"
          placeholder=""
        />
        <fa-icon
          class="field__icon"
          [icon]="showNewPsw ? faEyeSlash : faEye"
          (click)="toogleNewPsw()"
        ></fa-icon>
      </div>

      <!-- ! Form Data Validation -->

      <div *ngIf="showPolicyRules" class="policy-rules">
        <p class="policy-rules__title">New Password must contain at least:</p>

        <p class="rule" [ngClass]="isCharacters ? 'green' : 'red'">
          <fa-icon *ngIf="isCharacters" [icon]="faCheck"></fa-icon>
          <fa-icon
            *ngIf="isCharacters === false"
            [icon]="faCircleExclamation"
            class="faCircleExclamation"
          >
          </fa-icon>
          8 characters
        </p>
        <p class="rule" [ngClass]="isUppercase ? 'green' : 'red'">
          <fa-icon *ngIf="isUppercase" [icon]="faCheck"></fa-icon>
          <fa-icon
            *ngIf="isUppercase === false"
            [icon]="faCircleExclamation"
            class="faCircleExclamation"
          >
          </fa-icon>
          1 uppercase letter
        </p>
        <p class="rule" [ngClass]="isLowercase ? 'green' : 'red'">
          <fa-icon *ngIf="isLowercase" [icon]="faCheck"></fa-icon>
          <fa-icon
            *ngIf="isLowercase === false"
            [icon]="faCircleExclamation"
            class="faCircleExclamation"
          >
          </fa-icon>
          2 lowercase letters
        </p>
        <p class="rule" [ngClass]="isNumber ? 'green' : 'red'">
          <fa-icon *ngIf="isNumber" [icon]="faCheck"></fa-icon>
          <fa-icon
            *ngIf="isNumber === false"
            [icon]="faCircleExclamation"
            class="faCircleExclamation"
          >
          </fa-icon>
          2 numbers
        </p>
        <p class="rule" [ngClass]="isSymbol ? 'green' : 'red'">
          <fa-icon *ngIf="isSymbol" [icon]="faCheck"></fa-icon>
          <fa-icon
            *ngIf="isSymbol === false"
            [icon]="faCircleExclamation"
            class="faCircleExclamation"
          >
          </fa-icon>
          2 symbols(non-alphanumeric characters, i.e. ! @ # $ %)
        </p>
      </div>

      <!-- ! Form Submit Data -->

      <div class="line"></div>

      <div class="form__bottom">
        <button type="submit" class="bottom__save" [class.disabled]="disabled">
          Save Changes
        </button>
        <button (click)="modalRef?.hide()" type="button" class="bottom__cancel">
          Cancel
        </button>
      </div>
    </form>
  </div>
</ng-template>
