<!-- <div *ngIf="isOpen">
  {{ openModalMOMENTAN(template) }}
</div> -->

<ng-template #template>
  <!-- ! Modal Header -->

  <div class="modal-header">
    <h4 class="modal-title pull-left">Change Password</h4>
    <fa-icon [icon]="faQuestion" class="header__question"></fa-icon>
    <fa-icon
      (click)="modalRef?.hide()"
      [icon]="faXmark"
      class="header__xmark"
    ></fa-icon>
  </div>

  <!-- ! Modal Body -->

  <div class="modal-body">
    <form>
      <div class="form__field">
        <label class="field__label">
          Username:&nbsp;<span style="color: rgb(171, 0, 0)">*</span>
        </label>
        <div style="width: 81px"></div>
        <input
          class="field__input"
          type="username"
          name="username"
          placeholder=""
        />
        <fa-icon [icon]="faCheck" class="field__facheck"></fa-icon>
      </div>

      <div class="form__field">
        <label class="field__label">
          Current&nbsp;Password:&nbsp;<span style="color: rgb(171, 0, 0)"
            >*</span
          >
        </label>
        <input
          class="field__input"
          name="current-psw"
          type="password"
          placeholder=""
        />
        <fa-icon class="field__icon" [icon]="faEye"></fa-icon>
        <fa-icon class="field__facheck" [icon]="faCheck"></fa-icon>
      </div>

      <div class="form__field">
        <label class="field__label">
          New&nbsp;Password:&nbsp;<span style="color: rgb(171, 0, 0)">*</span>
        </label>
        <div style="width: 29.5px"></div>
        <input
          class="field__input"
          name="new-psw"
          type="password"
          placeholder=""
        />
        <fa-icon class="field__icon" [icon]="faEye"></fa-icon>
      </div>

      <div class="policy-rules">
        <p class="policy-rules__title">New Password must contain at least:</p>
        <p class="rule">8 characters</p>
        <p class="rule">1 uppercase letter</p>
        <p class="rule">2 lowercase letters</p>
        <p class="rule">2 numbers</p>
        <p class="rule">
          2 symbols(non-alphanumeric characters, i.e. ! @ # $ %)
        </p>
      </div>

      <div class="line"></div>

      <div class="form__bottom">
        <button class="bottom__save">Save Changes</button>
        <button class="bottom__cancel">Cancel</button>
      </div>
    </form>
  </div>
</ng-template>
