@import "../../../../../colors.scss";

.modal-container {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 3px 3px 15px $boxShadowColor;

  .modal-header {
    background-color: $modalHeader;
    color: #fff;
    height: 0px;

    .modal-title {
      font-size: 14px;
    }

    .header__xmark {
      cursor: pointer;
      font-size: 1.15rem;
    }
  }

  .modal-body {
    padding: 0px;
    background-color: $modalBodyBgColor;
    height: calc(100% - 32px);

    .antet {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      .antet__container {
        display: flex;
        gap: 10px;

        .save-btn {
          padding: 3px 30px;
          border-radius: 5.25px;
          background-color: $loginColor;
          color: $customXMarkColor;
          border: none;
          color: #fff;
        }
        .save-btn:hover {
          background-color: $saveBtnHover;
        }
      }

      .antet__faQuestion {
        color: $saveBtnHover;
        font-size: 1rem;
        display: grid;
        place-content: center;
        cursor: pointer;
      }
    }

    section {
      .title {
        background-color: $escTitleBg;
        padding: 5px 10px;
        margin: 0;
        color: $escTitleText;
        font-weight: 600;
        font-size: 14px;
        border-top: 1px solid gray;
      }

      .form {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .form__field {
          display: flex;

          .field__label {
            display: flex;
            place-items: center;

            &.disabled {
              color: gray;
            }

            .label__star {
              color: $starsColor;
            }
          }

          .field__input {
            right: 0;
            padding: 3px 6px;
            border: 1px solid gray;

            &.SMTP-host {
              margin-left: 60px;
            }

            &.STMP-host-custom {
              background-color: $bgCustomAlert;
              // font-style: italic;
            }

            &.SMTP-host-port {
              margin-left: 27px;
              width: 10%;
            }

            &.user-id {
              margin-left: 40px;
            }

            &.password {
              margin-left: 26px;
            }
          }

          .field__icon {
            margin: auto 0;
            margin-left: -25px;
            cursor: pointer;
          }
        }
        .field__input:focus {
          outline: 1.35px solid $outlineInput;
        }

        .form-check {
          margin: 10px 0;
          width: fit-content;

          .form-check-input {
            border: 1.5px solid gray;
            border-radius: 0px;
            box-shadow: none;
          }

          .form-check-input[type="checkbox"]:checked {
            border: 1.5px solid $saveBtnHover;
          }

          &.disabledCheckboxHover:hover {
            color: gray;
            #flexCheckDefault {
              border: 1.5px solid gray;
            }
          }
        }
        .form-check:hover {
          color: $saveBtnHover;
          #flexCheckDefault {
            border: 1.5px solid $saveBtnHover;
          }
        }
      }
    }
  }
}

// ! Class 'discard-changes-btn' Used in Multiple Places / Same Design.

.discard-changes-btn {
  padding: 3px 30px;
  border: 1px solid gray;
  border-radius: 5.25px;
  background-color: #fff;
  color: $customXMarkColor;

  &.send-test-email-btn {
    margin-right: 10px;
  }
}
.discard-changes-btn:hover {
  background-color: $bgHeader;
}

// ! Custom Alert

.alert-danger--custom {
  position: absolute;
  height: 31px;
  display: flex;
  align-items: center;
  border: 1px solid red;
  background-color: $bgCustomAlert;
  color: $textColorCustomAlert;
  padding: 10px;
  margin-left: 347px;
  box-shadow: 3px 3px 15px $boxShadowColor;

  &.host-port {
    margin-left: 230px;
  }

  &.user-id {
    margin-left: 300px;
  }
  &.password {
    margin-left: 300px;
  }

  .custom__triangle::before {
    content: "";
    position: absolute;
    left: 1px;
    margin-top: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $bgCustomAlert;
  }

  .custom__triangle {
    position: absolute;
    left: -10px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid red;
  }

  .custom__icon {
    font-size: 14px;
  }

  .custom__text {
    font-size: 12px;
    font-weight: 500;
  }

  .custom__xmark {
    font-size: 14px;
    color: $customXMarkColor;
    cursor: pointer;
  }
}
