<div *ngIf="isModalOpen">
  {{ openModalMOMENTAN(modalEmailServerNotifications) }}
</div>

<ng-template #modalEmailServerNotifications>
  <div class="modal-container">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Email Server & Notifications</h4>
      <fa-icon
        (click)="modalRef?.hide()"
        [icon]="faXmark"
        class="header__xmark"
      ></fa-icon>
    </div>

    <div class="modal-body">
      <section class="antet">
        <div class="antet__container">
          <button type="submit" class="save-btn">Save</button>
          <button class="discard-changes-btn">Discard Changes</button>
        </div>
        <fa-icon [icon]="faQuestion" class="antet__faQuestion"></fa-icon>
      </section>

      <section>
        <p class="title">Email Server Configuration</p>

        <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="form">
          <div class="form__field">
            <label class="field__label">
              SMTP Host:
              <span class="label__star">*</span>
            </label>

            <input
              [ngClass]="isHostValue ? 'STMP-host-custom' : ''"
              [value]="hostValue"
              #host
              (keyup)="getValue(host.value)"
              name="host"
              placeholder="IP Address or Host Name"
              type="text"
              class="field__input SMTP-host"
            />

            <!-- * alert -->
            <div *ngIf="isHostValue && isAlert" class="alert-danger--custom">
              <div class="custom__triangle"></div>
              <fa-icon [icon]="faCircleExclamation" class="custom__icon">
              </fa-icon>
              <span class="custom__text">
                &nbsp; This field cannot be blank &nbsp;
              </span>
              <fa-icon
                (click)="exitAlert()"
                [icon]="faXmark"
                class="custom__xmark"
              ></fa-icon>
            </div>
          </div>

          <div class="form__field">
            <label class="field__label">
              SMTP Host Port:
              <span class="label__star">*</span>
            </label>
            <input type="text" class="field__input SMTP-host-port" />
          </div>

          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Use SMTP Authentication
            </label>
          </div>

          <div class="form__field">
            <label class="field__label">
              User ID:
              <span class="label__star">*</span>
            </label>
            <input type="text" class="field__input user-id" />
          </div>
          <div class="form__field">
            <label class="field__label">
              Password:
              <span class="label__star">*</span>
            </label>
            <input type="text" class="field__input password" />
          </div>
        </form>
      </section>

      <section>
        <p class="title">Email Notifications</p>

        <div class="section__header">
          <p class="header__text">Send Email Notifications to:</p>
          <button class="discard-changes-btn">Send Test Email to All</button>
        </div>

        <div class="section__list">
          <div class="list__item">
            <input type="text" class="field__input email" />
            <button class="discard-changes-btn send-test-email-btn">
              Send Test Email
            </button>
            <fa-icon [icon]="faTrashCan" class="item__faTrashCan"></fa-icon>
          </div>
        </div>
      </section>
    </div>
  </div>
</ng-template>
