// ! Global Colors

$blue: hsl(208, 63%, 46%);
$textColor: #999999;
$bgHeader: #f2f2f2;
$linkColor: #007cc0;
$bgCustomAlert: #f6ecec;
$textColorCustomAlert: rgb(190, 0, 0);
$boxShadowColor: rgba(0, 0, 0, 0.7);
$customXMarkColor: gray;
$loginColor: #2a7bbf;
$loginDisabled: #ccc;
$footerBgColor: #444444;
$footerBgColorOnHover: #333333;
$modalHeader: #777777;
$modalBodyBgColor: #f9f9f9;
$starsColor: rgb(171, 0, 0);
$faCheckColor: #4d9900;
$policyRulesTextColor: #666;
$policyRulesGreen: #418200;
$policyRulesRed: #cc0000;
$hoverBtnColor: #005ca9;
$bgColorBtn: #f8f6f6;
$dashboardHeader: #686767;
$bgColorFilterIcon: #a5acb9;
