@import "../../../../../colors.scss";

.grid-header {
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: space-between;

  .grid-header__leftside {
    display: flex;

    .leftside__icon {
      color: $dashboardHeader;
      margin-right: 10px;
    }
    .leftside__title {
      color: $dashboardHeader;
      font-size: 20px;
      font-weight: 700;
    }
  }

  .grid-header__rightside {
    display: flex;
    position: relative;

    .rightside__reload-btn {
      padding: 0 30px;
      border: 1px solid gray;
      border-radius: 5.25px;
      margin-right: 20px;
      background-color: #fff;
      color: $customXMarkColor;

      .reload-btn__icon {
        color: $blue;
        margin-right: 7.5px;
      }
    }
    .rightside__reload-btn:hover {
      background-color: $bgHeader;
    }

    .rightside__filter {
      width: 340px;
      padding: 5px 30px 5px 10px;
      border: 1px solid $customXMarkColor;
      outline: none;
    }
    .rightside__filter-icon {
      color: $bgColorFilterIcon;
      cursor: pointer;
      position: absolute;
      right: 0;
      margin: 2.5px 10px 0 0;
    }
  }
}

.grid-selection {
  display: flex;
  padding: 10px;
  place-items: center;
  height: 44px;

  .selection__text {
    color: $dashboardHeader;
  }

  .selection__value {
    color: $dashboardHeader;
    font-weight: 600;
  }
}

.ag-grid-angular-container {
  padding: 10px;

  .ag-theme-alpine {
    width: 100%;
  }
}

.line {
  margin: 30px auto;
  width: 99%;
  height: 1px;
  background-color: $dashboardHeader;
}

.new-project {
  padding: 10px;

  .project__title {
    font-weight: bold;
  }

  .alert-danger {
    padding: 8px;
  }

  .alert-success {
    padding: 8px;
  }

  .animation-alert {
    animation-duration: 500ms;
    animation-name: animationAlert;
    overflow: hidden;
    height: 40px;
    width: 50%;
    padding: 8px;
    margin: 0 auto;
    text-align: center;
    transition-delay: 1000ms;
    margin-bottom: 5px;
  }
  .animation-alert::before {
    content: attr(data-name);
    animation-fill-mode: backwards;
    transition: opacity 1s;
    animation: fadeIn 3s;
  }

  @keyframes animationAlert {
    from {
      width: 0%;
    }
    to {
      width: 50%;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .project__data {
    margin-top: 10px;
    display: flex;
    margin-bottom: 10px;

    .form-control-sm {
      width: 180px;
      margin-right: 5px;
    }

    .custom {
      background-color: $blue;
    }
  }
}

.filter-update-data {
  padding: 10px 10px 20px 10px;

  .filter-update-data__title {
    font-weight: bold;
  }

  .filter-update-data__container {
    display: flex;
    margin-top: 10px;

    .container__button {
      background-color: $blue;
      margin-right: 10px;
      height: 30px;
      display: flex;
      align-items: center;

      .button__icon {
        font-size: 14px;
        margin-right: 5px;
      }
    }
    .container__button:hover {
      background-color: $hoverBtnColor;
    }
  }
}
