<div class="grid-header">
  <div class="grid-header__leftside">
    <fa-icon [icon]="faUser" class="leftside__icon" size="xl"></fa-icon>
    <span class="leftside__title">My Project List</span>
  </div>
  <div class="grid-header__rightside">
    <button (click)="reloadData()" class="rightside__reload-btn">
      <fa-icon [icon]="faArrowsRotate" class="reload-btn__icon"></fa-icon>
      <span>Reload</span>
    </button>
    <input
      [(ngModel)]="searchText"
      (ngModelChange)="onFilterBoxChanged()"
      type="text"
      class="rightside__filter"
      placeholder="Filter by Project, Status, or Description"
    />
    <fa-icon [icon]="faFilter" class="rightside__filter-icon"></fa-icon>
  </div>
</div>

<div class="grid-selection">
  <span class="selection__text">Rows selected:&nbsp;</span>
  <span class="selection__value">{{ selectedRows }}</span>
</div>

<div class="ag-grid-angular-container">
  <ag-grid-angular
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [rowData]="rowData$ | async"
    [defaultColDef]="defaultColDef"
    [rowSelection]="'multiple'"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (cellClicked)="onCellClicked($event)"
    (selectionChanged)="onSelectionChanged($event)"
    domLayout="autoHeight"
    [pagination]="true"
    [paginationPageSize]="6"
  >
  </ag-grid-angular>
</div>

<div class="line"></div>

<div class="new-project">
  <span class="project__title">ADD NEW PROJECT TO GRID</span>

  <!-- * Alert -->
  <div *ngIf="dangerAlert" class="alert alert-danger" role="alert">
    Project ID must be a Number!
  </div>
  <div *ngIf="successAlert" class="alert alert-success" role="alert">
    New Project Added Succesfully!
  </div>
  <div *ngIf="statusAlert" class="alert alert-danger status" role="alert">
    Status must be 'AVAILABLE', 'DISABLED' or 'DELETE_PENDING'
  </div>

  <form #f="ngForm" (ngSubmit)="onSubmit(f.value)" class="project__data">
    <input
      [(ngModel)]="nameField"
      class="form-control form-control-sm"
      type="text"
      placeholder="Project name"
      name="name"
      ngModel
      #name="ngModel"
      (change)="getValue(name)"
      required
    />
    <input
      [(ngModel)]="idField"
      class="form-control form-control-sm"
      type="text"
      placeholder="Project ID"
      name="id"
      ngModel
      #id="ngModel"
      (change)="getValue(id); verifNumber(idField)"
      required
    />
    <input
      [(ngModel)]="descriptionField"
      class="form-control form-control-sm"
      type="text"
      placeholder="Description"
      name="description"
      ngModel
      #description="ngModel"
      (change)="getValue(description)"
      required
    />
    <input
      [(ngModel)]="dateField"
      class="form-control form-control-sm"
      type="text"
      placeholder="Date"
      name="date"
      ngModel
      #date="ngModel"
      (change)="getValue(date)"
      required
    />
    <input
      [(ngModel)]="statusField"
      class="form-control form-control-sm"
      type="text"
      placeholder="Status"
      name="status"
      ngModel
      #status="ngModel"
      (change)="getValue(status); verifStatus(statusField)"
      required
    />
    <button [disabled]="isSubmit" type="submit" class="btn btn-primary custom">
      ADD PROJECT
    </button>
  </form>
</div>

<div class="filter-update-data">
  <span class="filter-update-data__title">FILTER GRID & UPDATE DATA</span>
  <div class="filter-update-data__container">
    <button
      (click)="filterByIdDesc()"
      type="button"
      class="btn btn-primary container__button"
    >
      <fa-icon [icon]="faArrowsRotate" class="button__icon"></fa-icon>
      Filter by ID DESC
    </button>
    <button
      (click)="sizeColumnsToFit()"
      type="button"
      class="btn btn-primary container__button"
    >
      <fa-icon [icon]="faArrowsLeftRight" class="button__icon"></fa-icon>
      Size Columns to fit Available Grid Space
    </button>
    <button
      (click)="updateGridNewData()"
      type="button"
      class="btn btn-primary container__button"
    >
      <fa-icon [icon]="faWrench" class="button__icon"></fa-icon>
      Update grid with new data from array
    </button>
  </div>
</div>
